body {
    background-color: #0F111A;
    
}

.button {
     padding: 12px 30px;
    background-color: #C252FC;
    color: #ffffff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: -100px;
    margin-left: auto;
    display: block;
    transition: background-color 0.3s;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-top: -50px;
    display: block;
}
  
.title {
    font-family: 'Open Sans Semibold';
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    color: #FFFFFF;
}

.subtitle {
    font-family: 'Open Sans Regular';
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
}

.join {
    padding: 15px 40px;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #C252FC;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.3s;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.content {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
   
}

.title2 {
    color: #ffffff;
}

.paragraf {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #ffffff;
}

.paragraf1,
    .paragraf2 {
        flex: 1;
        margin-right: 30px
    }

.paragraf3 {
    flex: 1;
    margin-left: 30px;
}

.buku {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.buku1 {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.img {
    display: flex;
    justify-content: space-between;
}
  
.img {
    width: 100%;
    height: auto;
}
  
.img img {
    height: 500px;
    margin: 20px;
}

.joinow {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
    color: #FFFFFF;
}

.tipe {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
}

.img1 {
    display: flex;
    justify-content: space-between;
}
  
.img1 {
    width: 100%;
    height: auto;
}
  
.img1 img {
    height: 500px;
    margin: 50px;
}

.penutup {
    width: 100%;
    height: 560px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    color: #FFFFFF;
    position: relative;
}

.penutup img {
    width: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}